<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>Quiz: El juego de las preguntas</h2>
<p>Respuesta: <b> <%= respuesta %></b></p>
<a href="/quizes/question"><%= text_Boton_Volver %></a>
</body>
</html>