<table>
Introduzca texto para buscar preguntas<br>
<form action="" method="GET">
<input type="text" name="search"/><br>
<button>Buscar</button>
</form>
<h3><%= cadena %></h3>
</table>
<table>
<% var i; for (i=0;i < quizes.length ;i++) { %>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></td></tr>
<% } %>
</table>
